* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f7f9fc;
}

header {
  position: sticky;
  top: 0;
  height: 70px;
  background: #9B26B6;
  color: white;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
  font-weight: bold;
}

.hero {
  padding: 90px 20px;
  text-align: center;
  background: #C5B4E3;
}

.section {
  padding: 60px 30px;
  text-align: center;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 25px;
  margin-top: 30px;
}

.card {
  background: #ffffff;
  padding: 25px;
  border-radius: 12px;
  height: 160px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.12);
}

.card h3 {
  color: #641975;
  margin-bottom: 10px;
}

.card i{
    color: #641975;
}

.card p {
  margin: 8px 0;
  color: #333;
}


.btn {
  background: #641975;
  color: white;
  padding: 12px 25px;
  text-decoration: none;
  border-radius: 6px;
  display: inline-block;
  margin-top: 15px;
}

.btn.outline {
  background: transparent;
  color: #641975;
  border: 2px solid #641975;
}

.contact-buttons a {
  margin: 10px;
}

/* WHY CHOOSE US */
.why {
  background: #f7f9fc;
  margin-bottom: 30px;
}

.why-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  margin-top: 30px;
}

.why-card {
  background: #C5B4E3;
  padding: 20px;
  border-radius: 10px;
  font-weight: bold;
  color: #641975;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

.contact{
    background: #C5B4E3;
}

footer {
  background: #4B365F;
  color: white;
  text-align: center;
  padding: 2px;
}
